/* main start */

/* cart section start */

.closeBtn{
    width: 20px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.closeBtn:hover{
    background-color: rgba(255, 0, 0, 0.328);
    color: black;
}

.quantity-wrapper{
    background-color: aliceblue;
    box-shadow: inset 0px 0px 10px 3px rgb(201, 201, 201);
}

.quantity-wrapper button{
    transition: all 0.2s linear;
}

.quantity-wrapper button:hover{
    box-shadow: inset 0px 0px 10px 1px rgb(108, 108, 108) !important;
    background-color: var(--rating-color) !important;
    color: white;
}
.quantity-wrapper button:active{
    box-shadow: inset 0px 0px 10px 1px rgb(108, 108, 108) !important;
    background-color: var(--rating-color) !important;
    color: white !important;
}

.shop-cart img{
    cursor: pointer;
}

.shop-cart img{
    transition: all 0.2s linear;
}

.shop-cart:hover img{
    transform: scale(1.1);
}


.border-right{
    border-right: 1px solid var(--p-light);
}

/* cart right side */

.couponBtn{
    transition: all 0.2s linear;
}
.couponBtn:hover{
    background-color: var(--p) !important;
}

/* cart section end */



/* main end */
