@import '../fonts/baloo-2/stylesheet.css';

body{
    font-family: "Baloo 2", sans-serif;
}




/* header start */

header{
    z-index: 999;
}

/* navbar start*/


/* modify bootstrap classes */
.dropdown-menu{
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s linear !important;
    position: fixed !important;
}

.dropdown-menu li a{
    font-weight: bold !important;
    font-size: 20px !important;
}

.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}

.dropdown-item:hover{
    color: #333 !important;
}

.nav-item{
    font-weight: bold;
    font-size: 20px;
}
/* modify bootstrap classes */

/* navbar end */

/* header end */




/* main start */

/* hero section start */

.left-cloud{
    position: absolute;
    left: -12%;
}

.right-cloud{
    position: absolute;
    left: 88%;
}

.center-cloud-top{
    position: absolute;
    left: 40%;
}

.center-cloud-bottom{
    bottom: 0;
    position: absolute;
    right: 70%;
    scale: 1.3;
    rotate: 180deg;
}

.sub-title{
    background-color: #fccf39;
}

.hero-rocket{
    top: 190px;
    left: 90px;
    animation: move-x 3s linear infinite;
}

.hero-aircraft{
    top: 100px;
    right: 40px;
    animation: move-x 3s linear infinite;
}

@keyframes move-x {
    0%{
        transform: translateX(-20px);
    } 50% {
        transform: translateX(-10px);
    } 100% {
        transform: translateX(-20px);
    }
}

.hero-banner-element{
    top: 15px;
    left: 35%;
    animation: rt-scale 3s linear infinite;
}

@keyframes rt-scale {
    0%{
        transform: scale(1);
    } 50% {
        transform: scale(1.1);
    } 100% {
        transform: scale(1);
    }
}

/* hero section end */

/* mini-shop section start */

.toy-card{
    cursor: pointer;
    height: 100%;
}

.toy-card img{
    transition: all 0.2s linear;
}
.toy-card:hover img{
    scale: 1.3;
}

.add-to-cart-btn{
    border: none;
    background-color: var(--p);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.add-to-cart-btn:hover{
    background-color: var(--rating-color);
}

/* mini-shop section end */

/* blog section start */

.blog-card{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 50px 0px rgb(225, 225, 225);
    height: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.blog-img{
    transition: all 0.3s linear;
}

.blog-card:hover .blog-img{
    scale: 1.1;
}

.round-img-container{
    width: 50px;
}

/* blog section end */

/* marquee section start */

.marquee-slider{
    display: flex;
    gap: 30px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-item{
    font-size: 2em;
    gap: 30px;
    display: flex;
    will-change: transform;
    animation: marquee_left 30s linear infinite
}

@keyframes marquee_left {
    0%{
        transform: translateX(0);
    } 100% {
        transform: translateX(-100%)
    }
}

/* marquee section end */

/* brands section start */

.brand-logo img{
    cursor: pointer;
    filter: grayscale(1);
    transition: all 0.2s linear;
}

.brand-logo:hover img{
    filter: grayscale(0);
}

/* brands section end */

/* main end */



/* footer start */

footer{
    padding-top: 100px;
    background-color: #EEFBFA;
}

/* main footer section start */

.underline{
    white-space: nowrap;
}

.underline::after{
    content: '';
    position: absolute;
    background-color: var(--rating-color);
    width: 40px;
    height: 4px;
    border-radius: 20px;
    top: 40px;
    left: 0;
}

.footer-link{
    transition: all 0.2s linear;
}
.footer-link:hover{
    color: var(--rating-color) !important;
}


.footer-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    padding: 10px 16px;
    background-color: var(--rating-color);
    color: white;
    font-weight: bold;
    transition: all 0.2s linear;
    position: absolute;
    right: 10px;
}

.footer-form-btn:hover{
    background-color: var(--p);
}

.footer-social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--p);
    padding: 6px 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.footer-social-btn:hover{
    background-color: var(--p);
    color: white;
    border: 2px solid white;
}

/* main footer section end */

/* footer end */