/* p = primary */
:root{
    --p-light : #3fdfcf;
    --p : #35BAAC;
    --p-dark : #2D9F94;
    --p-darkest : #22726a;
    --s : #FEF7EC;
    --rating-color: #f88e0f;
}

/* text utilities start*/

.text-primary-custom{
    color: var(--p-dark) !important;
}

.text-primary-custom-darker{
    color: var(--p-darkest) !important;
}

.rating-color{
    color: var(--rating-color) !important;
}

.text-hover{
    transition: all 0.2s linear;
}
.text-hover:hover{
    color: #ffffffb1 !important;
}

/* text utilities end */

/* borders start */

.border-primary-custom{
    border: 1px solid var(--p-light);
}

.outline-none{
    outline: none;
}

/* borders end */

/* backgrounds start */

.bg-primary-custom{
    background-color: var(--p) !important;
}

.bg-secondary-custom{
    background-color: var(--s) !important;
}

.bg-rating{
    background-color: var(--rating-color) !important;
}

/* backgrounds end */

/* buttons start */

.navbar-round-btn{
    background-color: var(--p-dark);
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}
.navbar-round-btn i{
    transition: all 0.2s linear;
}
.navbar-round-btn:hover i{
    color: #ffffffcd;
}

.footer-icon{
    background-color: rgb(255, 255, 255);
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgb(221, 221, 221);
}

/* buttons end */


/* margin and padding start*/

.mt-20{
    margin-top: 120px;
}

/* margin and padding end */