/* p = primary */
:root{
    --p : #35BAAC;
    --p-dark : #2D9F94;
    --p-darkest : #22726a;
    --rating-color: #f88e0f;
}

/* text utilities start*/

.text-primary-custom{
    color: var(--p-dark) !important;
}

.text-primary-custom-darker{
    color: var(--p-darkest) !important;
}

.rating-color{
    color: var(--rating-color) !important;
}

.text-hover{
    transition: all 0.2s linear;
}
.text-hover:hover{
    color: #ffffffb1 !important;
}

/* text utilities end */

/* backgrounds start */

.bg-primary-custom{
    background-color: var(--p) !important;
}

.bg-rating{
    background-color: var(--rating-color) !important;
}

/* backgrounds end */

/* buttons start */

.navbar-round-btn{
    background-color: var(--p-dark);
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}
.navbar-round-btn i{
    transition: all 0.2s linear;
}
.navbar-round-btn:hover i{
    color: #ffffffcd;
}

/* buttons end */